body {
}

.container {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.body_container {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.form {
	width: 500px;
}

.list-group-item>.badge {
	float: center;
}