.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-fixed-top {
	position: relative;
}

.icon-size
{
    font-size: 87px;
}

.navbar img {
	width: 28px;
	height: 28px;
}

#login-a {
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 0px;
}

.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 20px;
}


.site-search {
    position: relative;
    float: left;
    padding: 10px 5px;
}

.site-search input[type="text"] {
	position: relative;
	width: 200px;
}

/* .site-search form {
    position: relative;
    float: left;
    width: 360px;
    margin-right: 10px
}

.site-search input[type="text"] {
    position: relative;
    width: 100%;
    min-height: 28px;
    padding: 4px 20px 4px 8px;
    font-size: 12px
}
 */