{# 
	File: app.templates.elements.header.html 
#}
{% import "macros/search.html" as search with context %}  {# for search #}

<div class="header">
<nav class="navbar navbar-default" role="navigation navbar-default" role="navigation">
	<div class="container clearfix">
	{% include 'elements/nav_logo.html' %}
	{{search.filter(uri('questions:list'))}} 
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{uri('questions:list')}}">Questions</a></li>
        <li class="active"><a href="{{uri('questions:add')}}" target="_blank">Ask</a></li>
        <li class="active dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mine <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{uri('questions:list', mine=True)}}">Asked</a></li>
                <li><a href="#">Answered</a></li>
            </ul>
        </li>              
    </ul>
    {% include 'elements/login.html' %}
    </div>
</nav>
</div>

	{#
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="row-fluid">
            <div class="col-lg-12">
                <a href="/" class="navbar-brand">Administration Console</a>
                <p class="navbar-text pull-right">
                	<span class="navbar-link">
                		{% if this.user and ferris.is_current_user_admin() %}
		                	{{ferris.format_value(this.user)}} 
                		{% endif %}
    	            	<i class="icon-user"></i>
                	</span>
                </p>
            </div>
        </div>
    </nav>
    #}