{# 
	File: app/templates/elements/login.html 
#}
{% if this.user %} {# if logged in #}
<ul class="nav navbar-nav navbar-right">
<li class="login"><a id="login-a" href="#">{{this.user.nickname()}}</a></li>
<li> <a href="{{ferris.users.create_logout_url('/')}}"><i class="fa fa-sign-out fa-lg"></i></a></li>
</ul>

{#
<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<!--    <span class="glyphicon glyphicon-user"> <img alt="" src="/img/logo.jpg">  </span>  -->
<span class="glyphicon glyphicon-user"> 
        <img alt="" src="/img/logo.jpg">  
</span> 
<strong>Sign in</strong>
<span class="glyphicon glyphicon-chevron-down"></span>
</a>
<ul class="dropdown-menu">
<li> <div class="navbar-login">
        <div class="row">
            <div class="col-lg-4">
                <p class="text-center"> <span class="glyphicon glyphicon-user icon-size"></span> </p>
            </div>
            <div class="col-lg-8">
                <p class="text-left"><strong>Nombre Apellido</strong></p>
                <p class="text-left small">correoElectronico@email.com</p>
                <p class="text-left">
                    <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
                </p>
            </div>
        </div>
    </div>
</li>
<li class="divider"></li>
<li>
    <div class="navbar-login navbar-login-session">
        <div class="row">
            <div class="col-lg-8">
                <p>
                    <a href="#" class="btn btn-danger btn-block">Sign out</a>
                </p>
            </div>
        </div>
    </div>
</li>
</ul>
</li>
</ul>
#}
{% else %} {# if not login #}
<ul class="nav navbar-nav navbar-right">
<li> <a href="{{ferris.users.create_login_url()}}"><i class="fa fa-sign-in fa-lg"></i> Log in</a></li>
</ul>
{% endif %}