<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<style type="text/css">
        .important { color: #336699; }
     </style>
	<meta charset="UTF-8">
	<p class="important">
    		Welcome on my simple quora.
    	</p>
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
    <div id="content">
    		{% block content %}{% endblock %}
    </div>
</body>

<footer>
	
	<a href="/"> Home </a>
	<p> &copy; Copyright 2014 by Jingxin. </p>
</footer>