<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/jquery.linkify.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  {% block head %}
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
  <meta name="google-translate-customization" content="113437174a656763-0f62ad88adc70eff-g481e65e09ea1b846-1c"></meta>
</head>

<header>
  <h4 class="important"> Welcome to my simple quora. </h4>
  <div id="user"> {% block user %} {% endblock %} </div>
</header>

<body>
  <div class="container">
  {% block content %}{% endblock %}
  </div>
</body>

<footer>
<div>
  <a href="/"> Home </a> </p>
  <p> &copy; Copyright 2014 by Jingxin. </p>
</div>
</footer>