{% extends "_base.html" %}

{% block title %} Create an question {% endblock %}
{% block content %}

   <div id="tags">
      Tags:
      {% for tag in tags %}
         <span><a href='/?tag={{tag.tag_ | safe}}'> {{tag.tag_}}</a></span> 
      {% endfor %}
  </div>
  <div>
  <a href="/ask"> Ask Question </a>
  </div>

  <!-- questions=list[entity,..] -->
  {% for q in questions %}
    <p><a href="/view?q={{ q.key.urlsafe() }}">{{ q.content_ }}</a></p> 
  {% endfor %}
  

  <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock %}