{% extends "_base.html" %}
{% block title %} Homepage {% endblock %}
{% block head %}
{{ super() }}
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
                .width(200)
                .height(200);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock %}
{% block user %} 


{% if cur_user != None %} {{ cur_user.email() }} {% endif %} <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock %}



{% block content %}
  <div id="parent">
   <div class="left">
      Tags:
      {% for tag in tags %}
         <span><a href='/?tag={{tag.tag_ | safe}}'> {{tag.tag_}}</a></span> 
      {% endfor %}
  </div>
  
  </div>
  <div >
    <a class="function" href="/uploadpage" > upload image or see uploaded images</a>
    
  </div>
  <p></p>
  <p></p>
  <div>
  <a class="function" href="/ask"> Ask Question </a>
  </div>
  <div>
  <!-- questions=list[entity,..] -->
  {% for q in questions %}
    <p><a href="/view?q={{ q.key.urlsafe() }}">{{ q.content_ | truncate(500, True)}}</a></p> 
  {% endfor %}
  </div>
  

{% endblock %}