<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View question</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
	  $("#cancel").click(function(){ // when item with id="hide" is clicked
	    $("#origin").hide();
	  });
	  $("#edit").click(function(){
	    $("#origin").show();
	  });
	});
</script>
</head>
<body onload="message()">
	<div>
		<p>
		<input type="button" id="edit" value="edit" onClick="enableEdit()" >
		<pre>{{ q_content }} </pre>
		</p>
		<p>
        		{{q_vote}}
        		<input type="button" value="Up" onClick='location.href="/vote?v=up&qid={{qid}}"' >
            <input type="button" value="Down" onClick='location.href="/vote?v=down&qid={{qid}}"' >
        </p>

		<form id="origin" style="display:none;" action="/create-question" method="post">
			<p> Edit your question</p>
			<div><textarea name="question" rows="3" cols="60">{{q_content}}</textarea></div>
			<input type="hidden" name="qid" value={{qid}} >
    			<input id="cancel" type="reset" value="Clear">
    			<input type="submit" value="Post it">
		</form>
		

	</div>

	<div>
		<p> create your answer </p>
		<form action="/create-answer" method="post">
    			<div><textarea name="answer" id="answer" rows="3" cols="60"></textarea></div>
    			<div><input type="hidden" name="qid" value="{{ qid }}"></div> 
    			<p>
    			<!-- Simple way to clear input field -->
    			<input type="reset" value="Clear">
    			<input type="submit" value="Submit answer">
    			</p>
    		</form>
	</div>

	<div>
	{% for ans in answers: %}
			<pre>{{ ans[1].content_ }} </pre>
		<td>
			<p>
			{{ ans[0] }}
			<input type="button" value="Up" onClick='location.href="/vote?v=up&qid={{qid}}&aid={{ans[1].key.id()}}"' > 
			<input type="button" value="Down" onClick='location.href="/vote?v=down&qid={{qid}}&aid={{ans[1].key.id()}}"' > 
			</p>
		</td>

	{% endfor %}
	</div>
</body>
</html>