{% extends "/templates/_base.html" %}

{% block title %}
View question
{% endblock %}

{% block head %}
    {{ super() }} 
<script>
$(document).ready(function(){
	  $("#cancel").click(function(){ // when item with id="hide" is clicked
	    $("#origin").hide();
	  });
	  $("#edit").click(function(){
	    $("#origin").show();
	  });
	});
function editAns(id) {
	var x = document.getElementById(id);
	x.style.display = "block";
}
</script>
{% endblock %}

{% block content %}
	<a href="#area"></a>

	<div>
		<p>
		{% if is_author %}
			<input type="button" id="edit" value="edit" onClick="" >
		{% endif %}
		<blockquote>{{ q_content }} </blockquote>
		</p>
		<p>
        		{{q_vote}}
        		<input type="button" value="Up" onClick='location.href="/vote?v=up&qid={{qid}}"' >
            <input type="button" value="Down" onClick='location.href="/vote?v=down&qid={{qid}}"' >
        </p>

		<form id="origin" style="display:none;" action="/create-question" method="post">
			<p> Edit your question</p>
			<div><textarea name="question" rows="3" cols="60">{{q_content}}</textarea></div>
			<input type="hidden" name="qid" value = "{{ qid }}" >
    			<input id="cancel" type="reset" value="Clear">
    			<input type="submit" value="Post it">
		</form>

	</div>
	
	

	<div>
	
	{% for ans in answers: %}
	
		<p>
		{% if ans[1].author_ == cur_user %}
			<input type="button" id="editans" value="edit answer" onClick="editAns({{ans[1].key.id()}})" >
		{% endif %}
		<blockquote>{{ ans[1].content_ }} </blockquote>
		</p>
		<p>
        		{{ ans[0] }}
        		<input type="button" value="Up" onClick='location.href="/vote?v=up&qid={{qid}}&aid={{ans[1].key.id()}}"' > 
			<input type="button" value="Down" onClick='location.href="/vote?v=down&qid={{qid}}&aid={{ans[1].key.id()}}"' > 
        </p>

		<form id="{{ans[1].key.id()}}" style="display:none;" action="/create-answer?qid={{qid}}&aid={{ans[1].key.id()}}" method="post">
			<p> Edit your answer</p>
			<div><textarea name="answer" rows="3" cols="60">{{ans[1].content_}}</textarea></div>
    			<input id="cancel" type="reset" value="Clear">
    			<input type="submit" value="Post it">
		</form>
		
	{% endfor %}
	
	
	</div>
	
	<a name="area"></a>
	<div>
		<p> create your answer </p>
		<form action="/create-answer?qid={{qid}}" method="post">
    			<div><textarea name="answer" id="answer" rows="3" cols="60"></textarea></div>
    			<p>
    			<!-- Simple way to clear input field -->
    			<input type="reset" value="Clear">
    			<input type="submit" value="Submit answer">
    			</p>
    		</form>
	</div>
{% endblock %}	