{% extends "_base.html" %}
{% block title %} View {% endblock %}
{% block head %}
{{ super() }}
<script>
$(document).ready(function(){
  $("#cancel").click(function(){ // when item with id="hide" is clicked
      $("#origin").hide();
    });
  $("#edit").click(function(){
    $("#origin").show();
  });
});
function editAns(id) {
  var x = document.getElementById(id);
  x.style.display = "block";
}
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
                .width(150)
                .height(150);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock %}
{% block user %} 
{% if admin %}
<p> Welcome admin user, you can delete any question and answer </p>
{% endif %}


{% if cur_user != None %} {{ cur_user.email() }} {% endif %} <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock %}

{% block content %}
   {% set q_url = question.key.urlsafe() %}
  <a target="_blank" href="/rss?q={{q_url}}">
  <img id="rss" src="/images/rss.jpg"></a>
  <div class="question">
  <div id="tags">
      {% for tag in question.tags_ %}
        <span><a href="/?tag=urlencode_plus(tag)"> {{tag}}</a></span> 
      {% endfor %}
  </div>
  {% if question.author_ == cur_user %}
      <input type="button" id="edit" value="edit" onClick="" >
  {% endif %}
  {% if admin %}
      <input type="button" id="delete" value="delete" onClick='location.href="/delete?p={{q_url}}"' >
  {% endif %}
  <pre data-linkify="this"> {{ question.content_ }} </pre>
  {% if question.image_ %}
  <img class="show" src='/dyimg_serve?img_id={{question.key.urlsafe()}}'></img>
  {% endif %}
  <blockquote>
  </blockquote>
  {{question.votes_ }} 
  <input type="button" value="Up" onClick='location.href="/vote?v=up&q={{question.key.urlsafe()}}"' > 
  <input type="button" value="Down" onClick='location.href="/vote?v=down&q={{question.key.urlsafe()}}"' > 
  <div class="timestamp">
  <label> edited: </label> {{question.date_last_modified_ }}
  <label> created: </label> {{ question.date_created_}}
  </div>
  </div>
   <form class="hidden-form" id="origin"  action="/post-question?q={{question.key.urlsafe()}}" method="post">
      <p> Edit your question</p>
      <div><textarea name="content" rows="3" cols="60">{{question.content_}}</textarea></div>
      <input id="cancel" type="reset" value="Clear">
      <input type="submit" value="Post it">
  </form>

 
  
  <div >
<!--       <img src="http://38.media.tumblr.com/3c78a9f1445f5d05e7078c31d58f3976/tumblr_movej2Tds41qcn97oo1_400.gif" > -->
      {% for ans in answers %}
      <div class="answer">
        {% if ans.author_ == cur_user %}
          <input type="button" id="editans" value="edit" onClick="editAns({{ans.key.id()}})" >
        {% endif %}
        {% if admin %}
          <input type="button" id="delete" value="delete" onClick='location.href="/delete?p={{ans.key.urlsafe()}}"'>
        {% endif %}
        <pre data-linkify="this" > {{ ans.content_ }} </pre>
        {% if ans.image_ %}
        <img class="show" src='/dyimg_serve?img_id={{ans.key.urlsafe()}}'></img>
        {% endif %}
        <div>
        {{ ans.votes_ }}
        <input type="button" value="Up" onClick='location.href="/vote?v=up&q={{question.key.urlsafe()}}&a={{ans.key.urlsafe()}}"' > 
        <input type="button" value="Down" onClick='location.href="/vote?v=down&q={{question.key.urlsafe()}}&a={{ans.key.urlsafe()}}"' > 
         <div class="timestamp">
         <label> edited: </label> {{ans.date_last_modified_ }}
         <label> created: </label> {{ ans.date_created_}}
         </div>
        </div>
      
        <form id="{{ans.key.id()}}" class="hidden-form" action="/post-answer?q={{question.key.urlsafe()}}&a={{ans.key.urlsafe()}}" method="post">
        <p> Edit your answer</p>
        <div><textarea name="content" rows="3" cols="60">{{ans.content_}}</textarea></div>
          <input id="cancel" type="reset" value="Clear">
          <input type="submit" value="Post it">
        </form>
      </div>
      {% endfor %}
  </div>
  
  
  <div >
    <p> create your answer </p>
<!--     for upload file , must have enctype="multiple-line" -->
    <form action="/post-answer?q={{question.key.urlsafe()}}" method="post" enctype="multipart/form-data">
          <div><textarea name="content" id="answer" rows="3" cols="60"></textarea></div>
          <p>
          <input type='file' name="img" accept="image/*" onchange="readURL(this);" />
          <img id="blah" src="#" alt="your image" /> 
          </p>
          <p>
          <!-- Simple way to clear input field -->
          <input type="reset" value="Clear">
          <input type="submit" value="Submit answer">
          </p>
    </form>
  </div>
  
{% endblock %}  